#header {
    position: relative;
    font-size: 13em;
    font-family: Impact;
    text-align: center;
}

.playerName {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playerList {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap : wrap;
    justify-content: flex-start;
}

.playerIcon {
    z-index: 2;
    margin-top: 4%;
}

.player {
    list-style: none;
    display: inline-block;
    vertical-align: middle;

}

.icon {
    height: 200px;
    width: 200px;
    margin: 100px;
    border-radius: 50%;
    border: solid 1px #000000;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}



/* body {
    background: linear-gradient(180deg,#fafdff 0%, #fafdff 40%, #333333 40%, #333333 100%);
    background-attachment: fixed;
}

#header {
    position: relative;
    font-size: 13em;
    font-family: Impact;
    text-align: center;
}

.playerName {
    margin-top: 5%;
    position:fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.playerIcon {
    margin-top: 17%;
    text-align: center;
    position: absolute;
    z-index: 2;
}

.player {
    list-style: none;
    display: inline-block;
}

.icon {
    height: 200px;
    width: 200px;
    margin: 100px;
    border-radius: 50%;
} */